@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  font-family: "Press Start 2P", sans-serif;
}
body {
  text-align: center;
  background: linear-gradient(
      15deg,
      rgba(212, 232, 235, 0.9) 0%,
      rgba(118, 171, 174, 0.95) 100%
    ),
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
}
canvas {
  border-top: 5px solid #31363f;
  border-bottom: 5px solid #31363f;
  border-left: 2px dashed #31363f3d;
  border-right: 2px dashed #31363f3d;
  border-radius: 3px;
  background-color: #76abae;
  box-shadow: 0 10px 30px rgba(49, 54, 63, 0.3);
}

button {
  background-color: #31363f;
  color: #eeeeee;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 20px;
}

button:hover {
  background-color: #555555;
}

button:active {
  background-color: #31363f;
}

button:disabled {
  background-color: #555555;
  cursor: not-allowed;
}

.speed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  transition: all 0.3s ease;
  height: 80px;
}

.speed-container.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  margin: 0;
  pointer-events: none;
}

.speed-label {
  font-size: 1rem;
  color: #31363f;
  margin: 0;
}

.speed-options {
  border: 1px solid #31363f;
  border-radius: 3px;
  display: flex;
  padding: 0;
  background-color: #eeeeee;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #31363f;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.1s;
  font-size: 1rem;
  margin: 0;
  border-right: 1px solid #555555;
}

label:last-child {
  border-right: none;
}

input[type="radio"]:checked + label {
  background-color: #ffa500;
  color: #31363f;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

label:hover {
  background-color: #555555;
}
